<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Comparison Report - REG</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.css">
    <link rel="shortcut icon" href="{{&faviconData}}">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
</head>
<body>
    <div id="app">
    </div>
    <script type="text/javascript">
        window['__reg__'] = {{&report}};
    </script>
    <script type="text/javascript">
        {{&js}}
    </script>
</body>

</html>
